.fight-zone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  height: 450px;
  margin: auto;
  margin-top: 50px;
}
.insights {
  pointer-events: none;
  color: rgb(255, 217, 0);
  font-size: 2rem;
  font-weight: 700;
  width: 300px;
  text-align: center;
}
.token-choice {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.result{
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: bolder;
}
.back-button {
  align-self: flex-end;
  color: hsl(237, 49%, 15%);
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}
