.score-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.score{
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h3{
  font-weight: bold;
  font-size: 20px;
}

.value {
  font-size: 60px;
  font-weight: bold;
}
