.token-container{
    background: #fff;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 25px;
    cursor: pointer;
}

.token-container.rock {
    border-color: hsl(349, 71%, 52%);
}
.token-container.paper {
    border-color: hsl(230, 89%, 62%);
}
.token-container.scissors {
    border-color: hsl(39, 89%, 49%);
}
