.game-area{
    width: 32%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
}
.game-area .token-container:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}
.game-area .token-container:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
}
.game-area .token-container:nth-child(3){
    position: absolute;
    bottom: 0;
    left: calc(50% - 100px);
}
